/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

.jumbotron {
  padding:100px 0 130px 0;
}

.navbar-right {
    margin-right: 0;
}

.btn-toolbar {
  display: inline-block;
}​

.navbar {
  margin:0;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}

nav {
	margin-bottom: 0px;
}

.user {
	margin-left: 0px;
	text-align: center;
}

#network-list {
	color: black;
	text-align: center;
	border-bottom: none;
}

.network-name {
	border-style: solid;
}

h3 {
	text-align: center;
}

#contact-list {
	margin-bottom: 5px !important;
	font-size: 20px;
	color: #ffffff;
}

.network-tab {
	text-align: left;
	margin-left: 0px;
	margin-bottom: 5px;
}

a {
	color: white;
	margin-left: 10px;
	cursor: pointer;
}

.ion {
	color: black;
}

.time_left {
	background-color: #4dbf6b;
}

.time_out {
	background-color: #e35858;
}

.active {
	background-color: blue;
}

.ion-android-remove-circle {
	margin-left: 30px;
}

button {
	outline: none !important;
}