/***** NAVBAR *****/

.navbar {
  position: relative;
}

.navbar-brand {
	position: absolute;
	left: 50%;
	margin-left: -50px !important;  /* 50% of your logo width */
	display: block;
}

.glyphicon, .glyphicon:hover {
	color: white;
}

ul.nav.navbar-nav.navbar-right {
	text-align: center;
}

/***** CONTACT LIST *****/

.time_left {
	color: #4dbf6b;
}

.time_out {
	color: #e35858;
}