<div class="col-sm-8 col-sm-offset-2">
	<!-- NEW CONTACT FORM -->
	<form id="contactForm" ng-show="form" ng-submit="createContact(contact)">
	  <input type="text" class="contactInput form-control" placeholder="name" ng-model="contact.name"/>
	  <input type="text" class="contactInput form-control" placeholder="days" ng-model="contact.days"/>
	  <button type="submit" class="contactInput form-control">Add</button>
	</form>
	<!-- LIST INFO / EDIT FEATURE -->
	<a id="editInit" ng-show="!form" ng-click="edit = !edit"><strong>{{ editText }}</strong></a>
	<span class="badge pull-right"ng-show="!form" >CONTACTS - {{ contacts.length }}</span>

	<hr>
</div>

<!-- LIST OF CONTACTS -->
<div class="col-sm-8 col-sm-offset-2">
	<div>
		<ul class="list-group">
			<li type="none" ng-class="{ time_out:!contact.time_left, time_left:contact.time_left }" ng-repeat="contact in contacts | orderBy : 'deadline'">
				<span id="contactName" ng-hide="editForm">{{ contact.name }}</span>
				<span>
					<timer class="countdown pull-right" ng-show="!edit" end-time="contact.deadline" finish-callback="turnRed(contact)">
						{{days}}:{{hours}}:{{minutes}}:{{seconds}}
						<a ng-click="resetTimer(contact)">
							<i class="ion-refresh"></i>
						</a>
					</timer>
				</span>
				<a ng-hide="editForm" ng-click="editForm = !editForm"><i ng-show="edit" class="change ion-compose pull-right"></i></a>
				<a ng-hide="editForm" ng-click="deleteContact(contact)"><i ng-show="edit" class="change ion-trash-a pull-right"></i></a>
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<form class="edit-input-group" ng-show="editForm" ng-submit="editContact(contact)">
							<input type="text" id="editName" class="form-control" placeholder="{{ contact.name }}" ng-model="contact.name">
							<input type="text" id="editDays" class="form-control" placeholder="{{ contact.days }}" ng-model="contact.days"/>
							<a id="cancelEdit" class="btn-xs" role="button" ng-click="editForm = false">cancel</a>
							<button id="saveEdit" class="btn-xs pull-right" type="submit" ng-click="editForm = false">save</button>
						</form>
					</div>
				</div> <!-- row -->
				<hr>
			</li>
		</ul>
	</div>

	<div class="text-center" ng-show="!contacts.length">
		<h2>you currently have no contacts</h2>
	</div>
</div>

<!-- TEST ANIMATION -->
<!-- <div class="container">
  <input type="checkbox" ng-model="boxClass" />
  <div class="box rotate" ng-class="{'box': boxClass, 'circle': !boxClass} "></div>
</div> -->









