<div class="container">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="well">
			<!-- SIGN UP FORM -->
			<form ng-show="!log">
			  <!-- <div class="form-group">
			    <label for="">Username</label>
			    <input type="text" ng-model="user.username" class="form-control"/>
			  </div> -->
			  <div class="form-group">
			    <label for="">Email</label>
			    <input type="text" ng-model="user.email" class="form-control"/>
			  </div>
			  <div class="form-group">
			    <label for="">Password</label>
			    <input type="password" ng-model="user.password" class="form-control"/>
			  </div>
			  <div class="form-group">
			    <label for="">Confirm Password</label>
			    <input type="password" ng-model="user.confirm" class="form-control"/>
			  </div>
			  <button type="submit" ng-click="signup()" class="btn btn-info">Sign Up</button>
			  <a ng-click="loginForm()">login</a>
			</form>

			<!-- LOGIN FORM -->
			<form ng-show="log">
			  <div class="form-group">
			    <label for="">Email</label>
			    <input type="text" ng-model="user.email" class="form-control"/>
			  </div>
			  <div class="form-group">
			    <label for="">Password</label>
			    <input type="password" ng-model="user.password" class="form-control"/>
			  </div>
			  <button type="submit" ng-click="login()" class="btn btn-info">Log In</button>
			  <a ng-click="signupForm()">signup</a>
			</form>
		</div>
	</div>
</div>